

.logo {
    max-width:10vw;
    max-height:10vh;
    min-width: 2vw;
    min-height: 2vh;

    width:auto;
    height: auto;
    text-align: left;
}

.topbar {
    position: absolute;
    overflow: hidden;
    background-color: white;
    justify-content: space-between;
    width: 27vw;
    display: flex;
    position: relative;
}

.topBarItem {
    min-width: 20px;
    height: 50px;
    border-style: none;
    text-align: center;
    color: rgba(102, 102, 102, 1);
    font-size: 1.25vw;
    outline:0;
}

.topBarItem:active, .topBarItem:hover {
    border-bottom: 5px solid rgba(102, 102, 102, 1);
    padding-top: 7px;
    outline:0;
}

tr.globalHeader {
    max-height: 12vh;
    min-height: 5vh;
    height: auto;

    box-shadow: 0 4px 6px rgba(244, 244, 245, 1);
    background-color: white;
}

#redCircle {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 2.5px;
    position: absolute;
    right: 3px;
    top: 10px;
}
