

.logo {
    width: 50%;
    height: 50%;
    margin-left: -35px;
    margin-right: 35px;
}

.globalHeaderFirstOffser {
    margin-left: 3%;
    margin-right: -3%
}

.topbar {
    position: absolute;
    overflow: hidden;
    background-color: white;
    justify-content: space-between;
    display: flex;
    width: 23%;

}

.topBarItem {
    min-width: 20px;
    width: auto;
    height: 50px;
    border-style: none;
    box-sizing: border-box;
    text-align: center;
    color: rgba(102, 102, 102, 1);
    font-size: large;
    display: flex;
    align-items: center;
}

.topBarItem:active {
    border-bottom: 5px solid rgba(102, 102, 102, 1);
    padding-top: 7px;
}

tr.globalHeader {
    position: absolute;
    height: 12vh;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0 4px 6px rgba(244, 244, 245, 1);
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
}